# This Lambda function requires Spark "Bot" permissions, not "Integration" permissions
#############
ACCESS_TOKEN=<your access token from Spark - https://developer.ciscospark.com/add-app.html>
ROOM_ID=<the id of the Spark room your want to post messages to>
WEBHOOK_URL=https://api.ciscospark.com/v1/messages
TO_PERSON_ID=
TO_PERSON_EMAIL=
